/* Globals */
/* -------------------------------- */
body {
  font-family: 'Lato', sans-serif!important;
}

/* Admin page */
/* -------------------------------- */
div.admin-logo {
  margin-top: 20px;
}
div.admin-nav {
  justify-content: space-between;
}
div.admin-nav-right {
  margin-top: 10px;
  text-align: right;
}
img.admin-houseimg {
  margin-bottom: 20px;
}

/* Homepage */
/* -------------------------------- */
div.stage {
  margin: 0 auto;
  width: 80%;
}
.stage-row {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
header.stage-row {
  margin-top: 0px;
  position: absolute;
  top: -12px;
}

main.stage-row-houseCards {
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

section.houseCard {
  height: 320px;
  width: 260px;
  border: 3px solid #000;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4%;
}
section.houseCard:last-child {
  margin-right: 0;
}
img.houseCard-icon {
  margin-bottom: 15px;
}
h1.houseCard-spot {
  font-weight: 400;
  font-size: 25px;
  margin: 0;

}
h2.houseCard-name {
  font-weight: 300;
  font-size: 25px;
  margin: 0;
}
h3.houseCard-score {
  font-weight: 700;
  font-size: 75px;
  margin: 0;
}
h4.houseCard-weekscore {
  font-weight: 400;
  font-size: 17px;
  margin: 0;
}

/* Modifiers */
/* -------------------------------- */
div.mt-10p {
  margin-top: 10%;
}
div.mt-20p {
  margin-top: 20%;
}

/* Responsive for homepage */
@media only screen and (max-width: 1070px) {
  div.stage {
    width: 95%;
  }
  section.houseCard {
    height: 320px;
    width: 80%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Responsive for admin page */
@media only screen and (max-width: 991px) {
  div.admin-nav {
    flex-direction: column;
  }
  div.admin-nav-right {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }
  div.admin-logo {
    margin: 0 auto;
    margin-top: 20px;
  }
}